body {
    font-family: 'Roboto', sans-serif;
    width: 1600px;
    margin: 0px;
}
* {
    margin: 0px;
}
.container {
    width: 1200;
    margin: 0px;
    padding: 0 15px;
    box-sizing: border-box;
}
.flex-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-logo:visited {
    text-decoration: none;
    color: black;
}
.top-nav-link:visited {
    text-decoration: none;
    color: black;
}

.top-nav-link {
    text-decoration: none;
    color: black;
}
.top-nav-link-contact {
    color: #757575;
    text-decoration: none;
}
.top-nav {
    list-style: none;
}
.top-logo {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    padding: 24px 93px 24px 215px;
}
.web {
    color: #2196f3;
}
.nav {
    font-weight: 500;
    font-size: 14px;
}
.top-contact {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    text-align: right;
}

.top-nav-link:hover,
.top-nav-link:focus {
    color: #2196f3;
    cursor: pointer;
}

.top-nav-link-contact:hover,
.top-nav-link-contact:focus {
    color: #2196f3;
    cursor: pointer;
}
/*pierwsza strona main*/
.top {
    color: #ffffff;
    background: #2f303a;
    text-align: center;
    width: 1600px;
    height: 600px;
    padding-bottom: 94px;
}
.top-txt {
    font-weight: 900;
    font-size: 44px;
    padding: 200px 452px 30px;
}
.top-button {
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    background: #2196f3;
    color: #ffffff;
    padding: 10px 42px 10px 41px;
    border-radius: 4px;
    border: 0px;
}

.top-button:hover,
.top-button:focus {
    cursor: pointer;
}
.mid-pic {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 94px;
}

.mid-txt {
    font-size: 700;
    font-size: 14px;
}
.mid-long {
    color: #757575;
    font-weight: 400;
    font-size: 14px;
}
.flex-mid {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-top: 94px;
    padding-bottom: 94px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.mid-pictures-txt {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    padding-top: 94px;
    padding-bottom: 50px;
}
.team-john {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 94px;
    border-radius: 4px;
}
.team {
    background: #f5f4fa;
}
.team-text {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    padding-top: 94px;
    padding-bottom: 50px;
}
.john-background {
    background-color: #ffffff;
}
.john-doe {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    padding: 30px 99px 10px 99px;
}
.job {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding-bottom: 30px;
}
.bottom {
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    background: #2f303a;
    text-decoration: none;
}
.bottom-adress {
    font-style: normal;
    text-decoration: none;
}
.bottom-logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
}
.bottom-logo:visited {
    text-decoration: none;
    color: white;
}
.bot-nav-link-contact {
    color: #757575;
    text-decoration: none;
    font-style: normal;
}
.bot-nav-link-contact:hover,
.bot-nav-link-contact:focus {
    color: #2196f3;
    cursor: pointer;
    text-decoration: none;
    font-style: normal;
}
.bottom-info {
    list-style-type: none;
}
/*druga strona*/
.filters {
    font-weight: 500;
    font-size: 16px;
    list-style: none;
}
.filter-button {
    background-color: #f5f4fa;
}
.filter-button:hover,
.filter-button:focus {
    cursor: pointer;
    background-color: #2196f3;
    color: #ffffff;
}
.main-pictures {
    list-style: none;
}
.picture-text {
    font-weight: 700;
    font-size: 18px;
}
.smoll-txt {
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}
