body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-font-color);
    width: 1600px;
}
* {
    margin: 0;
}
:root {
    --primary-color: #2196f3;
    --main-font-color: #212121;
    --scnd-font-color: #757575;
    --main-background: #2f303a;
    --scnd-background: #f5f4fa;
}
.container {
    width: 1200;
    margin: 0 auto;
    padding: 0 15px;
}
.top-nav-link {
    text-decoration: none;
    color: var(--main-font-color);
}
.top-nav-link-contact {
    text-decoration: none;
    color: var(--primary-color);
}
.header-flex {
    display: flex;
    justify-content: flex-start;
}
.top-nav {
    list-style: none;
    display: flex;
    padding: 0;
}
.nav {
    display: flex;
    padding: 32px 46px;
}
.logo {
    padding: 24px 93px 25px 215px;
    display: flex;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: var(--primary-color);
}
.studio-black {
    color: black;
}
.studio-white {
    color: white;
}
.nav {
    font-weight: 500;
    font-size: 14px;
}
.contact-flex {
    display: flex;
    padding-left: 371px;
}
.top-contact {
    display: flex;
    padding: 32px 50px;
    color: var(--scnd-font-color);
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}

.top-nav-link:hover,
.top-nav-link:focus {
    color: var(--primary-color);
    cursor: pointer;
}

.top-contact:hover,
.top-contact:focus {
    color: var(--primary-color);
    cursor: pointer;
}
.top-contact:visited {
    color: var(--scnd-font-color);
}
/*pierwsza strona main*/
.top {
    color: white;
    background: var(--main-background);
    text-align: center;
}
.top-txt {
    font-weight: 900;
    font-size: 44px;
}
.top-button {
    font-weight: 700;
    font-size: 16px;
    background: var(--primary-color);
    color: white;
}

.top-button:hover,
.top-button:focus {
    cursor: pointer;
}
.mid-pic {
    list-style: none;
}
.mid-txt {
    font-size: 700;
    font-size: 14px;
}
.mid-long {
    color: var(--scnd-font-color);
    font-weight: 400;
    font-size: 14px;
}
.mid-pictures-txt {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}
.team-john {
    list-style: none;
}
.team {
    background: var(--scnd-background);
}
.team-text {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}
.john-doe {
    font-weight: 500;
    font-size: 16px;
}
.job {
    color: var(--scnd-font-color);
    font-weight: 400;
    font-size: 16px;
}
.bottom {
    font-weight: 400;
    font-size: 14px;
    color: white;
    background: var(--main-background);
    text-decoration: none;
}
.bottom-adress {
    font-style: normal;
    text-decoration: none;
}
.bottom-logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: white;
}
.bottom-logo:visited {
    text-decoration: none;
    color: white;
}
.bot-nav-link-contact {
    color: var(--scnd-font-color);
    text-decoration: none;
    font-style: normal;
}
.bot-nav-link-contact:hover,
.bot-nav-link-contact:focus {
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: none;
    font-style: normal;
}
.bottom-info {
    list-style-type: none;
}
/*druga strona*/
.filters {
    font-weight: 500;
    font-size: 16px;
    list-style: none;
}
.filter-button {
    background-color: var(--scnd-background);
}
.filter-button:hover,
.filter-button:focus {
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
}
.main-pictures {
    list-style: none;
}
.picture-text {
    font-weight: 700;
    font-size: 18px;
}
.smoll-txt {
    font-size: 16px;
    font-weight: 400;
    color: var(--scnd-font-color);
}
